{% extends "layout.html" %}

{% block title %}NEG Client Projects{% endblock %}

{% block main_image %}<img src="/images/projects/neg_client_project/mainMonster1.jpg">{% endblock %}

{% block content_primary %}
<p>Navigator was launched with the simultaneous development of the “Children’s Time Machine Edu-tainment Center” in Studio City, and the “Chariot of Atlantis” attraction in Las Vegas. In 2003, Navigator’s global position was further strengthened when Ex Communication, Korea hired Navigator as exclusive design development consultants. </p>
<p>This relationship culminated in 2005 with the completion of over 20 creative design projects in live entertainment and exhibits. While the creative projects were in production, Navigator was hired to re-built the Fantasy Dream Dark Ride for Lotte World becoming the most successful Re- launch in Lotte World history. </p>
<p>In 2005 and 2006, Navigator continues on its own in Korea developing such projects as the Santa Resort, Lotte World Family Fun Center, Dio Family Entertainment Center and the Children Grand Park. Back in the US, Navigator created wax figures for the Hollywood Wax Museum, Water Features located all over America, and the City of Palmdale Halloween walk-thru attraction. </p>
<p>In late 2000’s, Navigator designed and built interactive attractions for such clients as Ripley’s believe-it-or-not, Guinness Hollywood Museum, Playboy Mansion Halloween Event, and the special effects for such American television show as the Doll House for Fox TV. </p>
<p>Navigator also created the concepts that served as the foundation for both Hwaseong City Resort and Kanghwa Island project at Dejon and Kanghwa, Korea respectably. Recently Navigator began schematic design for the Daegu World Resort, a large-scale theme park and world-class destination resort based in Daegu, Korea.  </p>
{% endblock %}

{% block content_secondary %}
<ul class="secondary-menu">
  <li><a href="/projects/fantasy-dream"><img src="/images/projects/neg_client_project/fantasy_dream/thumbFantasyDream3.jpg"><span>Fantasy Dream</span></a></li>
  <li><a href="/projects/film-tv-production"><img src="/images/projects/neg_client_project/film_tv_production/thumbDollhousAnimatedProp1.jpg"><span>Film TV Production</span></a></li>
  <li><a href="/projects/guinness-museum"><img src="/images/projects/neg_client_project/guinness_museum/thumbIMG_6255.jpg"><span>Guinness Museum</span></a></li>
  <li><a href="/projects/hollywood-wax-museum"><img src="/images/projects/neg_client_project/hollywood_wax_museum/thumbIMG_4978.jpg"><span>Hollywood Wax Museum</span></a></li>
  <li><a href="/projects/misc-projects"><img src="/images/projects/neg_client_project/misc_projects/thumbDragon2.jpg"><span>Misc. Projects</span></a></li>
  <li><a href="/projects/monster-mansion"><img src="/images/projects/neg_client_project/monster_mansion/thumbmonster-mansion-interior-w.jpg"><span>Monster Mansion</span></a></li>
</ul>
{% endblock %}
