{% extends "layouts/executive.html" %}

{% block title %}Executive Team{% endblock %}

{% block content_primary %}
<div class="team-member">
  <div class="executive-photo">
    <img src="/images/company/executive_team/Ron-Teeman-head-shot.jpg">
    <img src="/images/company/executive_team/Ron-Teeman-action-shot.jpg">
  </div>
  <div class="executive-info">
    <div class="info-box">
      <h2>Ronald Teeman (Principal) President/CEO</h2>
      <h3>Professional Credentials</h3>
      <p>A veteran entertainment executive, Mr. Teeman, has been conceiving, designing and producing family entertainment for worldwide audiences for over 30 years. His hands-on experience and long list of credits in commercials, films, theme parks, live touring shows, robotics technology, and video game productions are a testimony to his strong and diverse background. These skills have proven invaluable to clients such as Universal, Gary Goddard Entertainment, Walt Disney Production, Playmates, Sony, Nintendo, Landmark Entertainment Group, Six Flags Corporation, McDonald’s, Busch Entertainment, MTM Production, and Lotte World Korea.</p>
      <h3>Select Project Experience</h3>
      <div class="experience">
        <em>Created/Founded Roboshop Manufacturing (Responsible for bringing $30 million dollars of revenue through Roboshop between 1989 and 1991).</em>
        <em>Created/Founded Conceptual Realities (Created/Developed 3D Video games for Nintendo N64).</em>
        <em>Technical Designer/Manufacturer Sanrio Puroland, Japan (This Indoor theme park is still going strong after 20 years).</em>
        <em>Show Creator/Manufacturer &#8220;Ghostbuster Live Show&#8221;, Florida (One of the most popular attraction but was replaced after ten year of operation).</em>
        <em>Programming/Manufacturer &#8220;Sinbad Dark Ride&#8221; Lotte World, Korea (Navigator in 2005 was hired to rehab this attraction and still one of the most popular ride at Lotte World). </em>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>

<div class="team-member">
  <div class="executive-photo">
    <img src="/images/company/executive_team/Paul-Barnes-Head-Shot.jpg">
    <img src="/images/company/executive_team/Paul-Barnes-Action-Shot.jpg">
  </div>
  <div class="executive-info">
    <div class="info-box">
      <h2>Paul Barnes (Principal) Vice President/COO</h2>
      <h3>Professional Credentials</h3>
      <p>Mr. Barnes is responsible for overseeing Navigator Diversified business affairs, licensing/marketing, and film/television divisions. Prior to becoming Navigator president, Paul founded FX Masters in 1995, a company that bridge the special effects gap between motion picture, television, commercial, amusement, and private productions, and oversaw the design and production for such clients as Universal Studios, The Hollywood Wax Museum, Warner Bros. Entertainment, Nintendo, Disney/Pixar, Nike, Speedo, Six Flags, and Lotte World.</p>
      <h3>Select Project Experience</h3>
      <div class="experience">
        <p>Mr. Barnes experience ranges from conceptual design, illustration, sculpting, mold making, makeup, and painting, to props, set building, and project coordination.</p>
        <em>Fabrication Wax Figures (exclusively produced the figures for the Hollywood Wax Museum and additional figures for the Branson Hollywood Wax Museum).</em>
        <em>American Motion Picture Special Effects.  (Their credits include, &#8220;Alien Species&#8221;, &#8220;Stargate&#8221;, &#8220;Independence Day&#8221;, &#8220;Batman Returns&#8221;, &#8220;Sphere&#8221;, &#8220;Men in Black II&#8221;,  &#8220;Species II&#8221;, &#8220;Bram Stoker’s Dracula&#8221; and many, many more). </em>
        <em>Special Effects &#8220;Back to the Future&#8221; Attraction (One of the top attractions at Universal Studios Hollywood).</em>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>

<div class="team-member">
  <div class="executive-photo">
    <img src="/images/company/executive_team/Chuck-Madenford-Head-Shot.jpg">
    <img src="/images/company/executive_team/Chuck-Madenford-Action-Shot.jpg">
  </div>
  <div class="executive-info">
    <div class="info-box">
      <h2>Chuck Madenford (Principal) Vice President Business Development, Global</h2>
      <h3>Professional Credentials</h3>
      <p>Mr. Madenford brings to Navigator extensive experience in marketing and sales, primarily in the areas of international development, and is responsible for Navigator international marketing campaign. Mr. Madenford began his career employed in numerous positions, including executive V.P./President of WPCS International Inc., executive V.P. Global Technology Solutions and more recently XG Technology West Coast Sales Manager.  Chuck has managed multiple companies in China and Australia and is extremely familiar with business in the Asian markets.</p>
      <h3>Select Project Experience</h3>
      <div class="experience">
        <em>WPCS International Inc./Clayborn contracting Group, Inc. ( Responsible for the day to day operations of $8M wireless and construction company and Managed six additional subsidiaries for parent company (WPCS), in Portland, Seattle, three in Australia and one  China). </em>
        <em>XG Technology, Inc (Develop new business opportunities on West Coast for Cognitive Radio Systems, marketing and management of channel partners).</em>
        <em>Natural Design (Developed a service and refurbishment department for Natural Design to handle repair, refurbishment and equipment replacement).</em>
        <em>Global Technology Solutions, N.A. (Responsible for managing service and installation department in six (6) states).</em>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>

<div class="team-member">
  <div class="executive-photo">
    <img src="/images/company/executive_team/John-Banach-Head-Shot.jpg">
    <img src="/images/company/executive_team/John-Banach-Action-Shot.jpg">
  </div>
  <div class="executive-info">
    <div class="info-box">
      <h2>John Banach (Principal) Vice President Production</h2>
      <h3>Professional Credentials</h3>
      <p>Mr. Banach is responsible for the design and production of all technical show equipment and hardware, as well as operation manager of all in-house projects being developed and implemented for all clients. Before joining Navigator Mr. Banach created and built some of the world’s most impressive animatronics and special effects attractions for such clients as Universal Studios, Lotte World, Sanrio Puroland, California Science Center, and Warner Bros. in locations all over the world.</p>
      <h3>Select Project Experience</h3>
      <div class="experience">
        <p>Mr. Banach has been responsible for one or more of the following areas of each project: design; fabrication; assembly; directing; supervising and supervising installation and maintenance crews in the U.S. and internationally.</p>
        <em>Animatronics &amp; SPX, Universal Studios (For such attractions as Men in Black, E.T. Adventure, and Roboasis).</em>
        <em>Robotics World Fair, Brisbone Australia (Created Human Robotics Figures)</em>
        <em>Animatronics &amp; Show Action Equipment, Lotte World Korea (Created Humans and Animals for multiple attractions).</em>
        <em>Interactive Display Equipment, California Air &amp; Space Museum (Children Interactive Exhibits)</em>
        <em>Animatronics Supervisor Sanrio Puroland, Japan (Oversaw the production and Installation of a one of four major attraction).</em>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>

<div class="team-member">
  <div class="executive-photo">
    <img src="/images/company/executive_team/Tim-Nordella-Head-Shot.jpg">
    <img src="/images/company/executive_team/Tim-Nordella-Action-Shot.jpg">
  </div>
  <div class="executive-info">
    <div class="info-box">
      <h2>Tim Nordella (Principal) Associate &amp; Director Engineering</h2>
      <h3>Professional Credentials</h3>
      <p>Mr. Nordella is an accomplished designer and fabricator with Domestic and International experience within leading entertainment companies. Major strengths in design and fabrication of multi-million dollar animatronic characters and puppets. Expertise in integration and problem solving, balancing creative ideas, and realistic manufacturing parameters. Excellent reputation for consistently producing and fabricating iconic characters from mechanical design thru on-camera performance.</p>
      <h3>Select Project Experience</h3>
      <div class="experience">
        <p>Specialties: Mechanical design, hydraulic design, Project Management, Crew Supervision, Project Head, Shop Forman, R&amp;D Design and Manager, Client Coordination, Installation, Quick Trouble Shooting, Prototype Machining and Design.</p>
        <em>Movie Mechanical and Special Effects (for such movie as Avatar, Terminator, Jurassic Park, Alien vs Predator, and Galaxy Quest just to name a few).</em>
        <em>Theme Park Robotics and Special Effects ( for such attraction as Disney Pirates of the Carribbean, Jungle Cruise, Singapore Haw Paw Village Singapore, King Kong Hollywood just to name a few).</em>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>

<div class="team-member">
  <div class="executive-photo">
    <img src="/images/company/executive_team/Jon-Jung-Head-Shot.jpg">
    <img src="/images/company/executive_team/Jon-Jung-Action-Shot.jpg">
  </div>
  <div class="executive-info">
    <div class="info-box">
      <h2>John Jung President Navigator Entertainment Korea</h2>
      <h3>Professional Credentials</h3>
      <p>Mr. Jung joined Navigator in 2002 as marketing manager for our Asia sales. Since then he has been instrumental in the company’s international sales and market growth as well as creating strong international relationships not only with Navigator's clients, but also within the industry's community as well.</p>
      <h3>Select Project Experience</h3>
      <div class="experience">
        <p>Mr. Jung begin his career in international trading and as an marketing expect in Korea, has oversees the concept design and development for such project as listed below.</p>
        <em>Water Park development for &#8220;Reader County&#8221; in Hongchun Korea</em>
        <em>Theme Park development for &#8220;Sowonok Public Resort&#8221; in Masan Korea</em>
        <em>Theme Park development for &#8220;Hans Worlds&#8221; in Hwasung Korea</em>
        <em>Theme Park development for &#8220;D-World Resort&#8221; in Daegu Korea</em>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
{% endblock %}
