{% extends "layouts/executive.html" %}

{% block title %}Key Players{% endblock %}

{% block content_primary %}
<div class="info-box keyplayers">
  <ul class="keyplayers-slider">
    <li><img src="/images/keyplayers/1keyplayer.jpg" title="This is a key player in the history of robo sports. He Received the Bender Bending Rodriguez award of Robotics."></li>
    <li><img src="/images/keyplayers/2keyplayers.jpg" title="This player was key to the discovery of space."></li>
    <li><img src="/images/keyplayers/3keyplayers.jpg" title="This player is the uber pwnage."></li>
    <li><img src="/images/keyplayers/4keyplayers.jpg" title="Excellent example of why machines should not become self-aware."></li>
    <li><img src="/images/keyplayers/5keyplayers.jpg" title="This is a key player in the history of robo sports. He Received the Bender Bending Rodriguez award of Robotics."></li>
    <li><img src="/images/keyplayers/6keyplayers.jpg" title="This player was key to the discovery of space."></li>
    <li><img src="/images/keyplayers/7keyplayers.jpg" title="This player is the uber pwnage."></li>
    <li><img src="/images/keyplayers/8keyplayers.jpg" title="Excellent example of why machines should not become self-aware."></li>
    <li><img src="/images/keyplayers/9keyplayers.jpg" title="This is a key player in the history of robo sports. He Received the Bender Bending Rodriguez award of Robotics."></li>
    <li><img src="/images/keyplayers/10keyplayers.jpg" title="This player was key to the discovery of space."></li>
    <li><img src="/images/keyplayers/11keyplayers.jpg" title="This player is the uber pwnage."></li>
    <li><img src="/images/keyplayers/12keyplayers.jpg" title="Excellent example of why machines should not become self-aware."></li>
    <li><img src="/images/keyplayers/13keyplayers.jpg" title="This is a key player in the history of robo sports. He Received the Bender Bending Rodriguez award of Robotics."></li>
    <li><img src="/images/keyplayers/14keyplayers.jpg" title="This player was key to the discovery of space."></li>
    <li><img src="/images/keyplayers/15keyplayers.jpg" title="This player is the uber pwnage."></li>
  </ul>
</div>
{% endblock %}

{% block content_secondary %}
<ul class="secondary-menu">
  <li><a href="/company/executive-team#johnbanach"><img src="/images/company/executive_team/John-Banach-Head-Shot.jpg"><span>John Banach</span></a></li>
  <li><a href="/company/executive-team#paulbarnes"><img src="/images/company/executive_team/Paul-Barnes-Head-Shot.jpg"><span>Paul Barnes</span></a></li>
  <li><a href="/company/executive-team#ronteeman"><img src="/images/company/executive_team/Ron-Teeman-head-shot.jpg"><span>Ron Teeman</span></a></li>
  <li><a href="/company/executive-team#timnordella"><img src="/images/company/executive_team/Tim-Nordella-Head-Shot.jpg"><span>Tim Nordella</span></a></li>
</ul>
{% endblock %}

{% block pre_styles %}
  <link href="{{ baseUrl() }}/css/jquery.bxslider.css" rel="stylesheet" type="text/css">
  <link href="{{ baseUrl() }}/css/jquery.fancybox.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="{{ baseUrl() }}/js/jquery.bxslider.min.js"></script>
  <script src="{{ baseUrl() }}/js/jquery.fancybox.pack.js"></script>
  <script type="text/javascript">
  jQuery(function ($) {
    $('.keyplayers-slider').bxSlider({
      slideWidth: 720,
      mode: 'fade',
      captions: true,
      auto: true
    });
  });
  </script>
{% endblock %}