{% extends "layouts/executive.html" %}

{% block title %}Key Players{% endblock %}

{% block content_primary %}
<div class="info-box">
  Slideshow goes here.
</div>
{% endblock %}

{% block content_secondary %}
<ul class="secondary-menu">
  <li><a href="/company/executive-team#johnbanach"><img src="/images/company/executive_team/John-Banach-Head-Shot.jpg"><span>John Banach</span></a></li>
  <li><a href="/company/executive-team#paulbarnes"><img src="/images/company/executive_team/Paul-Barnes-Head-Shot.jpg"><span>Paul Barnes</span></a></li>
  <li><a href="/company/executive-team#ronteeman"><img src="/images/company/executive_team/Ron-Teeman-head-shot.jpg"><span>Ron Teeman</span></a></li>
  <li><a href="/company/executive-team#timnordella"><img src="/images/company/executive_team/Tim-Nordella-Head-Shot.jpg"><span>Tim Nordella</span></a></li>
</ul>
{% endblock %}