{% extends "layout.html" %}

{% block title %}Projects{% endblock %}

{% block main_image %}<img src="/images/projects/RBTS_Entrance.jpg">{% endblock %}

{% block content_primary %}
<p>
The primary business of the Company is the licensing and development of 
Navigator designs and the commercial exploitation of its intellectual properties. 
Secondly, the Company will seek to capitalize on the burgeoning Entertainment and 
Amusement Park Industries by providing clients a facility committed to provide quality 
design/development, production, and manufacturing services by utilizing state of the art 
technology and the most qualified personnel. 
</p>
{% endblock %}

{% block content_secondary %}
<ul class="secondary-menu">
  <li><a href="/projects/neg-client-projects"><img src="/images/projects/neg_client_project/mainMonster1.jpg"><span>NEG Client Projects</span></a></li>
  <li><a href="/projects/projects-in-development"><img src="/images/projects/"><span>Projects in Development</span></a></li>
</ul>
{% endblock %}
