{% extends "layout.html" %}

{% block title %}Projects in Development{% endblock %}

{% block main_image %}
<img src="/images/projects/projects_in_development/main.jpg">
{% endblock %}

{% block content_primary %}
<p>
  Currently, Navigator has finished the concept design phase for D-World and plan on starting the 
  design development phase before the end of 2013. Navigator has also created four themed attractions 
  (intellectual properties) in-house, including the Robotics Touring Show (Robotics Affair), 
  a Dark Ride Attraction (Jungle Bots Adventure), an interactive Live Animatronics Show (T.R.A.I.D) 
  and a water park attraction (Aqua Pirate Adventure).
</p>
{% endblock %}

{% block content_secondary %}
<ul class="secondary-menu">
  <li><a href="/projects/aqua-pirate-adventure"><img src="/images/projects/projects_in_development/aqua_pirate_adventure/thumbpirateshipsmall.jpg"><span>Aqua Pirate Adventure</span></a></li>
  <li><a href="/projects/d-world-resort"><img src="/images/projects/projects_in_development/d-world_resort/thumbD-WorldSigning.jpg"><span>D-World Resort</span></a></li>
  <li><a href="/projects/jungle-bots-adventure"><img src="/images/projects/projects_in_development/jungle_bots_adventure/thumbmaincover2.jpg"><span>Jungle Bots Adventure</span></a></li>
  <li><a href="/projects/robotics-touring-show"><img src="/images/projects/projects_in_development/robotics_touring_show/thumbfinal7.jpg"><span>Robotics Touring Show</span></a></li>
  <li><a href="/projects/triad"><img src="/images/projects/projects_in_development/triad/TRIAD.jpg"><span>T.R.I.A.D</span></a></li>
</ul>
{% endblock %}
