<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Navigator Entertainment - {% block title %}{% endblock %}</title>

    <link href="{{ baseUrl() }}/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="{{ baseUrl() }}/css/styles.css" rel="stylesheet" type="text/css">
    {% block styles %}{% endblock %}
  </head>
  <body>

    {% include "includes/side_menu.twig.html" %}

    <div class="content twocolumn">
      <div class="content-header">
        <div class="head-space"></div>
        <div class="info-box">
          <h1>{{ block('title') }}</h1>
        </div>
      </div>

      <div class="content-main">
        <div class="left-col">
          {% block left_column %}{% endblock %}
        </div>

        <div class="right-col">
          {% block right_column %}{% endblock %}
        </div>

        <div class="clear"></div>
      </div>

      {# <div class="content-secondary info-box">
        {% block content_secondary %}{% endblock %}
      </div> #}
    </div>

  </body>
  {% block scripts %}{% endblock %}
</html>
