{% extends "layout.html" %}

{% block title %}Guinness Museum{% endblock %}

{% block main_image %}
<img src="/images/projects/neg_client_project/guinness_museum/mainIMG_6255.jpg">
{% endblock %}

{% block content_primary %}
<p>Ripley’s believe it or not is open again after a temporary closure to give the show a major facelift. Visitors to Ripley's historic Hollywood Boulevard and Highland Avenue attraction will be greeted by the iconic dinosaur on the roof, but inside they'll find hundreds of new unbelievable exhibits.</p>
{% endblock %}

{% block content_secondary %}
{% import "includes/slideshow.twig.html" as ui %}

{%
  set photos = [
    ['thumbIMG_5091.jpg', 'IMG_5091.jpg'],
    ['thumbIMG_5114.jpg', 'IMG_5114.jpg'],
    ['thumbIMG_5132.jpg', 'IMG_5132.jpg'],
    ['thumbIMG_6255.jpg', 'IMG_6255.jpg'],
    ['thumbIMG_6258.jpg', 'IMG_6258.jpg'],
    ['thumbP5144427.jpg', 'P5144427.jpg']
  ]
%}
{% set slide_base = '/images/projects/neg_client_project/guinness_museum/' %}

{{ ui.slideshow(photos, slide_base) }}

{% endblock %}
