    <div class="side-menu">
      <a href="{{ baseUrl() }}"><img class="logo" src="{{ baseUrl() }}/images/logo_white.png" /></a>

      <ul class="menu">
        <li><a href="{{ siteUrl('/projects') }}">Projects</a></li>
        <li><a href="{{ siteUrl('/services') }}">Services</a></li>
        <li><a href="{{ siteUrl('/company') }}">Company</a></li>
        <li><a href="{{ siteUrl('/key-players') }}">Key Players</a></li>
        <li><a href="{{ siteUrl('/contact') }}">Contact</a></li>
      </ul>

      <div class="clear"></div>
    </div>