{% extends "layout.html" %}

{% block title %}Show Action Equipment{% endblock %}

{% block main_image %}
<img src="/images/services/show_action_equipment/mainservice3.jpg">
{% endblock %}

{% block content_primary %}
<p>Navigator as well as our staff has significant experience in the area of design and manufacturing of show action equipment. In particular, the mechanical effects including small-animated props, moving platforms, and interactive museum pieces.</p>
{% endblock %}

{% block content_secondary %}
{% import "includes/slideshow.twig.html" as ui %}

{%
  set photos = [
    ['THUMBghostsae1.jpg', 'ghostsae1.jpg'],
    ['THUMBghostsae2.jpg', 'ghostsae2.jpg'],
    ['thumbMPAA17C.jpg', 'MPAA17C.jpg'],
    ['thumbMPAA25.jpg', 'MPAA25.jpg'],
    ['thumbMPAA31A,31B.jpg', 'MPAA31A,31B.jpg'],
    ['thumbMPAA55.jpg', 'MPAA55.jpg'],
    ['thumbservice3.jpg', 'service3.jpg'],
  ]
%}
{% set slide_base = '/images/services/show_action_equipment/' %}

{{ ui.slideshow(photos, slide_base) }}

{% endblock %}
