{% extends "layout.html" %}

{% block title %}Wax Figures{% endblock %}

{% block main_image %}
<img src="/images/services/wax_figures/mainDepp-Medium.jpg">
{% endblock %}

{% block content_primary %}
<p>Wax figures (life-sized, genuine three-dimensional representations) of the most celebrated and important people of History and Hollywood are an intricate art form. Each star portrayed is life-size with uncanny characteristics &amp; likeness. Facial features, body &amp; bone structure are recreated precisely according to the star own image. Original looking costumes &amp; studio props can be created to ensure authenticity. In order to enhance the enjoyment of visitors, special lighting, sound effects &amp; animation can be used throughout the museum.</p>
{% endblock %}

{% block content_secondary %}
{% import "includes/slideshow.twig.html" as ui %}

{%
  set photos = [
    ['thumbAMELIA1.jpg', 'AMELIA1.jpg'],
    ['thumbDepp-Medium.jpg', 'Depp-Medium.jpg'],
    ['ThumbHellboyLensFlarePoster.jpg', 'HellboyLensFlarePoster.jpg'],
    ['thumbIMG_3962.jpg', 'IMG_3962.jpg'],
    ['thumbIMG_4990.jpg', 'IMG_4990.jpg'],
    ['thumbIMG_5302.jpg', 'IMG_5302.jpg'],
    ['thumbMario-Full.jpg', 'Mario-Full.jpg'],
    ['thumbMIBPoster.jpg', 'MIBPoster.jpg'],
    ['thumbranger.jpg', 'ranger.jpg'],
    ['thumbRoboheadsPainted.jpg', 'RoboheadsPainted.jpg'],
    ['thumbwax3.jpg', 'wax3.jpg'],
    ['thumbWaxPro.jpg', 'WaxPro.jpg'],
  ]
%}
{% set slide_base = '/images/services/wax_figures/' %}

{{ ui.slideshow(photos, slide_base) }}

{% endblock %}
