{% extends "layout-new.html" %}

{% block title %}Company{% endblock %}

{% block main_image %}
<img src="images/company_2.jpg" />
{% endblock %}

{% block content_primary %}
<p>
The Navigator Entertainment Group (Navigator, NEG or the Company) is one of very few companies in the world focusing 
on the design and production of robotics in the entertainment and amusement park industries.
</p>
{% endblock %}

{% block content_secondary %}
<ul class="secondary-menu">
  <li><a href="/about"><img src="images/About_NEG.jpg"><span>About NEG</span></a></li>
  <li><a href="/executive-team"><img src="images/About_NEG.jpg"><span>Executive Team</span></a></li>
</ul>
{% endblock %}
