{% extends "layout.html" %}

{% block title %}Company{% endblock %}

{% block main_image %}
<img src="images/company/company_2.jpg" />
{% endblock %}

{% block content_primary %}
<p>
The Navigator Entertainment Group <em>(Navigator, NEG or the Company)</em> is one of very few companies in the world focusing 
on the design and production of robotics in the entertainment and amusement park industries.
</p>
{% endblock %}

{% block content_secondary %}
<ul class="secondary-menu">
  <li><a href="/company/about"><img src="/images/company/about/thumbNEG-Shop.jpg"><span>About NEG</span></a></li>
  <li><a href="/company/executive-team"><img src="/images/company/executive_team/thumb-Shot.jpg"><span>Executive Team</span></a></li>
</ul>
{% endblock %}
