{% extends "layouts/twocolumn.html" %}

{% block title %}Contact{% endblock %}

{% block left_column %}
<img src="/images/Los_Angeles.jpg">
<div class="info-box">
  <p>NEG corporate headquarter is located at 3324 Monier Circle, Suite 7, Rancho Cordova, California 95742 in an 18,000 s/f design and fabrication facility with state of the art manufacturing capabilities.</p>
</div>
{% endblock %}

{% block right_column %}
<img src="/images/seoul31.jpg">
<div class="info-box">
  <p>Asian Headquarter is a 6,000 s/f office located at 189~15, Beomeo I-dong, Suseong-gu, Daegu, Korea.</p>
</div>
{% endblock %}

{% block content_secondary %}

{% endblock %}
