{% extends "layout.html" %}

{% block title %}Contact{% endblock %}

{% block main_image %}
<img src="/images/Los_Angeles.jpg"><br>
<img src="/images/seoul31.jpg">
{% endblock %}

{% block content_primary %}
<p>NEG corporate headquarter is located at 3324 Monier Circle, Suite 7, Rancho Cordova, California 95742 in an 18,000 s/f design and fabrication facility with state of the art manufacturing capabilities.</p>
<p>Asian Headquarter is a 6,000 s/f office located at 189~15, Beomeo I-dong, Suseong-gu, Daegu, Korea.</p>
{% endblock %}

{% block content_secondary %}

{% endblock %}
