{% extends "layouts/twocolumn.html" %}

{% block title %}Contact{% endblock %}

{% block left_column %}
<img src="/images/contact/los_angeles.jpg">
<div class="info-box">
  <p>NEG corporate headquarter is located at 3324 Monier Circle, Suite 7, Rancho Cordova, California 95742 in an 18,000 s/f design and fabrication facility with state of the art manufacturing capabilities.</p>
  <p>Contact Info: 
{# encoded mailto link for infor@naventinc.com (http://hivelogic.com/enkoder) #}
<script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",l=x.length;for(i=l-1;i>=0;i--) {try{o+=x.c" +
"harAt(i);}catch(e){}}return o;}f(\")\\\"function f(x,y){var i,o=\\\"\\\\\\\""+
"\\\\,l=x.length;for(i=0;i<l;i++){if(i>(21+y))y*=2;y%=127;o+=String.fromChar" +
"Code(x.charCodeAt(i)^(y++));}return o;}f(\\\"\\\\qytmt\\\\\\\\177uh3imIUGOJ" +
"\\\\\\\\r\\\\\\\\004\\\\\\\\033I\\\\\\\\tBYIK\\\\\\\\023s\\\\\\\\022\\\\\\\\"+
"\\\\\\\\SZXAY\\\\\\\\rQW\\\\\\\\\\\\\\\\TN}P^6$,7-+%i+&'\\\\\\\\027nm:&$=7n" +
"\\\\\\\\010w\\\\\\\\nuf04=3/\\\\\\\\0361\\\\\\\\001\\\\\\\\027\\\\\\\\007\\" +
"\\\\\\r\\\\\\\\020\\\\\\\\014\\\\\\\\010\\\\\\\\004F\\\\\\\\n\\\\\\\\005\\\\"+
"\\\\006PB\\\\\\\\017QRXICO\\\"\\\\,21)\\\"(f};)lo,0(rtsbus.o nruter};)i(tAr" +
"ahc.x=+o{)--i;0=>i;1-l=i(rof}}{)e(hctac};l=+l;x=+x{yrt{)84=!)31/l(tAedoCrah" +
"c.x(elihw;lo=l,htgnel.x=lo,\\\"\\\"=o,i rav{)x(f noitcnuf\")"                ;
while(x=eval(x));
//-->
//]]>
</script>
  </p>
  <p>Phone # 1-818-274-2563</p>
</div>
{% endblock %}

{% block right_column %}
<img src="/images/contact/seoul.jpg">
<div class="info-box">
  <p>Navigator Entertainment Korea is Located in the heart of Daegu City, in an 6,000 s/f office located at 189~15, Beomeo I-dong, Suseong-gu, Daegu, within one to two hours  from all major Korean City and a plane flight away from many location thru-out Asia.</p>
  <p>Contact Info: 
{# encoded mailto link for john@naventinc.com (http://hivelogic.com/enkoder) #}
<script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x,y){var i,o=\"\",l=x.length;for(i=0;i<l;i++){if(i<94)y++;" +
"y%=127;o+=String.fromCharCode(x.charCodeAt(i)^(y++));}return o;}f(\"9\\024\\"+
"r\\006\\023\\000\\004\\003O\\027[\\r^\\002\\r\\034r\\\"m*g7.,<}x+`4p{NEPN\\" +
"004F\\021A\\\\\\tC^QVY\\0268l'.)8\\017!47\\025\\\"p6soSKE[Y[XG\\013\\006\\0" +
"06\\017\\003\\002WCy8i,4g6rrratq3y4eb]GMQ\\014L\\033K\\005\\030\\021B\\022\\"+
"020\\036\\024Y\\034\\037\\032OZ\\035\\n@\\027YS]O\\177Kh(kx97#3=;$k#c=:2\\\""+
"&!|ez84pa&:u|vUPN?F2=6(#3\\\\\\\\]23:)DBD)*\\005$%HKL!\\\"N=27,09(10<9<QR4," +
"-*|f&$'DEv*.-BCQ\\017\\004\\036\\005\\026@@\\030\\032\\032wp\\003\\003s\\02" +
"2mn]hijkhmrncrgf6\\032\\036\\037\\030\\031\\032\\033\\024\\025\\022x}}\\022" +
"\\023\\017\\n\\020\\027\\031\\023ffh\\005\\006.ion\\003< !4(VVW45)^_]23BAB/" +
"(B\\006\\006\\001\\026\\t\\020\\023D\\034{p|dv216TUaW.%hr+~2}f`brjd!2565f\\" +
"010\\177\\013J\\014QgBLFiYMEM\\001H\\031WW[vDVPzWTN[\\020X.(07\\027xm(s~xzq" +
"h7tblx*}|/|mhre5u86\\033HIH\\r^\\n[\\001RZV\\005E\\034\\000\\026J\\032\\007" +
"\\023\\033\\023\\033V\\001G\\027P!\\\\\\\\#?l(l&ui\\177q\\\"u!v'v1||}auym\\" +
"17782\",94)"                                                                 ;
while(x=eval(x));
//-->
//]]>
</script>
  </p>
  <p>Phone # 82-2-588-6621</p>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ baseUrl() }}/js/jquery.min.js"></script>
<script type="text/javascript">
jQuery(function ($) {
  var $p1 = $('.left-col .info-box p:first');
  var $p2 = $('.right-col .info-box p:first');
  var h = Math.max($p1.height(), $p2.height());

  $p1.height(h); $p2.height(h);
});
</script>
{% endblock %}

