<!DOCTYPE html>
<html>
  <head>
    <title>Navigator Entertainment - Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link href="css/normalize.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>

    <div class="content-home">

      <img class="homepage-logo" src="images/logo_white_big.png" />

      <p>
        NEG is one of the few companies in the world focusing on the design and production of robotics 
        and special effects in the entertainment and amusement park industries.
      </p>

      <ul class="homepage-menu">
        <li><a href="/projects"><img src="images/homepage/projects.jpg" /> <span>Projects</span></a></li>
        <li><a href="/services"><img src="images/homepage/services.jpg" /> <span>Services</span></a></li>
        <li><a href="/company"><img src="images/homepage/company.jpg" /> <span>Company</span></a></li>
        <li><a href="/key-players"><img src="images/homepage/keyplayers.jpg" /> <span>Key Players</span></a></li>
      </ul>

      <div class="homepage-contact"><a href="/contact"><img src="images/homepage/contact.jpg" /> <span>Contact</span></a></div>
    </div>

  </body>

</html>
