<!DOCTYPE html>
<html>
  <head>
    <title>Navigator Entertainment - {% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link href="/css/normalize.css" rel="stylesheet" type="text/css">
    {% block styles %}{% endblock %}
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>

    <div class="side-menu">
      <a href="/"><img class="logo" src="/images/logo_white.png" /></a>

      <ul class="menu">
        <li><a href="/products">Products</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/company">Company</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>

      <div class="clear"></div>
    </div>

    <div class="content">
      <div class="content-header">
        <div class="info-box">
          <h1>{{ block('title') }}</h1>
        </div>
      </div>

      <div class="content-main">
        <div class="left-col">
          {% block main_image %}{% endblock %}
        </div>

        <div class="right-col">
          <div class="info-box">
            {% block content_primary %}{% endblock %}
          </div>
        </div>

        <div class="clear"></div>
      </div>

      <div class="content-secondary info-box">
        {% block content_secondary %}{% endblock %}
      </div>
    </div>

  </body>
  {% block scripts %}{% endblock %}
</html>
