{% extends "layout.html" %}

{% block title %}Robotics Engineering{% endblock %}

{% block main_image %}
<img src="/images/services/robotics_engineering/Maincover7.jpg">
{% endblock %}

{% block content_primary %}
<p>Lorem Ipsum Revocation Rules \m/</p>
{% endblock %}

{% block content_secondary %}

{%
  set photos = [
    ['thumbTM3DPhoto2.jpg', 'TM3DPhoto2.jpg'],
    ['thumbTM3DPhoto1.jpg', 'TM3DPhoto1.jpg'],
    ['thumbTerminatorHead3.jpg', 'TerminatorHead3.jpg'],
    ['thumbJohnHead2.jpg', 'JohnHead2.jpg'],
    ['thumbJohnHead.jpg', 'JohnHead.jpg'],
    ['thumbIMG_4005.jpg', 'IMG_4005.jpg'],
    ['thumbHighEndRobot.jpg', 'HighEndRobot.jpg'],
    ['thumbcover7.jpg', 'cover7.jpg']
  ]
%}
{% set slide_base = '/images/services/robotics_engineering/' %}

<div class="product-slider">
  {% for photo in photos %}
  <div class="slide"><a href="{{ slide_base }}{{ photo[1] }}" rel="product-images-group"><img src="{{ slide_base }}{{ photo[0] }}" /></a></div>
  {% endfor %}
</div>
{% endblock %}
