{% extends "layout.html" %}

{% block title %}Services{% endblock %}

{% block main_image %}{% endblock %}

{% block content_primary %}
<h1>What We Do</h1>
<p>
Navigator is engaged in the business of providing Design Services, Engineering and Fabrication of Robotic Animation, 
Show Action Equipment and Special Effects for the Entertainment and Theme Park Industries. Navigator has the capability 
to take an attraction project from the first vision of an idea to the fanfare of an opening night. Our team prides itself 
in the ability to work with each Client toward developing a project from its initial conception to its successful completion.
</p>
{% endblock %}

{% block content_secondary %}
<h1>Expertise</h1>
<ul class="secondary-menu">
  <li><a href="/services/robotics-engineering"><img src="images/"><span>Robotics Engineering</span></a></li>
  <li><a href="/services/special-effects"><img src="images/"><span>Special Effects</span></a></li>
  <li><a href="/services/show-action-equipment"><img src="images/"><span>Show Action Equipment</span></a></li>
  <li><a href="/services/wax-figures"><img src="images/"><span>Wax Figures</span></a></li>
  <li><a href="/services/mainains-rehab"><img src="images/"><span>Maintains/Rehab</span></a></li>
</ul>
{% endblock %}
